*{
    padding: 0;
    margin: 0;
    font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    
}

.top-postion{
    width: 100%;
    position: absolute;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar{
    width: 775px;
    display: flex;
    font-size: .7rem;
    border-radius: 5px;
    justify-content: center;
    padding: 0px 0px;
    margin: auto;
    align-items: center;
    position: absolute;
    top: 10px;
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080)); 
    font-weight: 100;
}

.nav-bar a{
    color: white;
    
    padding: 5px 20px;
    border-right: 1px solid rgba(255,255,255,.2);
    text-decoration: none;
    padding: 10px 20px;
    font-size: 12px;

}

.nav-bar a:first-child{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-bar a:hover{
    background-color: rgba(0,0,0,0.2);
}

.nav-bar input{
    border-top-color: rgba(0,0,0,.9);
    border-right-color: rgba(0,0,0,.4); 
    border-radius: 30px;
    padding: 1px 20px;
    background: none;
    background-image: url(../images/magnify.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;

}
.nav-search{
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080)); 
    padding: 3px 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 7.6px 10px
}
.image-container{
    
    background: url(../images/hero-background.jpg) 50% 100% no-repeat;
    background-size: 1440px 1315px;
    grid-area: image-container;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    
}
.image-container *{
    font-weight: 100;
    font-family: sans-serif;
    line-height: 3rem;
}
.image-1{
    grid-area: image-1;
}

.image-2{
    grid-area: image-2;
}

.image-3{
    grid-area: image-3;
}
.image-4{
    grid-area: image-4;
}

.container{
    position: relative;
    width: 80%;
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 25%); 
    grid-template-rows: repeat(2, auto);
    overflow: hidden;
    grid-template-areas:"image-container image-container image-container image-container "
                        "image-1 image-2 image-3 image-4";

}

footer{
    margin-top: 70px;
}

.disclaimer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    font-size: 10px;
    width: 90%;
    margin: auto;
    max-width: 1024px;
    
    
    
}


footer a{
    color: #2f99d2;
    text-decoration: none;
}