*{
    padding: 0;
    margin: 0;
    font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 1024px;
    height: 100%;
}

.nav-bar{
    width: 775px;
    display: flex;
    font-size: .7rem;
    border-radius: 5px;
    justify-content: center;
    padding: 0px 0px;
    margin: auto;
    align-items: center;
    position:absolute;
    top: 20px;
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080)); 
    font-weight: 100;
}

.nav-bar a{
    color: white;
    
    padding: 5px 20px;
    border-right: 1px solid rgba(255,255,255,.2);
    text-decoration: none;
    padding: 10px 20px;
    font-size: 12px;

}

.nav-bar a:first-child{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-bar a:hover{
    background-color: rgba(0,0,0,0.2);
}

.nav-bar input{
    border-top-color: rgba(0,0,0,.9);
    border-right-color: rgba(0,0,0,.4); 
    border-radius: 30px;
    padding: 1px 20px;
    background: none;
    background-image: url(../images/magnify.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;

}



.nav-search{
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080)); 
    padding: 3px 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    padding: 7.6px 10px
}



.content{
    display: grid;
    grid-template-rows: 3fr 1fr;
    max-width: 1400px;
    min-width: 1024px;
    width: 1440px;
}


.image-rows{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1440px;
    overflow: hidden;
    margin: 0;
    height: 200px;
        
}
.images{
    
}
.image-container{
    width: 1440px;
    background: url(../images/hero-background.jpg) 50% 100% no-repeat;
    background-size: 1440px 1315px;

    
}
.center-text{
    position: relative;
    top: 50%;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    font-weight:lighter;
}

footer{
    margin-top: 70px;
}

.disclaimer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    font-size: 10px;
    width: 90%;
    margin: auto;
    max-width: 1024px;
    
    
    
}


footer a{
    color: #2f99d2;
    text-decoration: none;
}















